#lenguaje{
    color: slategrey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#lista{
    color: rgb(57, 67, 78);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#aside{
    color: rgb(29, 39, 68);
}
#copyright{
    color: slategrey;
}
#derechos{
    color: rgb(28, 38, 99);
}